ToDoList, compiled with & special thanks to<br />
<b>Lazarus IDE v1.4.4/FPC 2.6.4</b><br />
<a href="http://lazarus.freepascal.org/">http://lazarus.freepascal.org/</a><br />
<a href="http://wiki.lazarus.freepascal.org/">http://wiki.lazarus.freepascal.org/</a><br />
<br />
------------------------------------------------------------------<br />
<b>Oxygen Icons, KDE</b><br />
<a href="https://techbase.kde.org/Projects/Oxygen/">https://techbase.kde.org/Projects/Oxygen/</a><br />
License: GNU LGPL 3<br />
<br />
------------------------------------------------------------------<br />
<b>Fugue icons copyright Yusuke Kamiyamane</b><br />
<a href="http://p.yusukekamiyamane.com/">http://p.yusukekamiyamane.com/</a><br />
License: Creative Commons Attribution 3.0<br />
<br />
------------------------------------------------------------------<br />
<b>FatCow Icons</b><br />
<a href="http://www.fatcow.com/free-icons/">http://www.fatcow.com/free-icons/</a><br />
License: Creative Commons Attribution 3.0<br />
<br />
------------------------------------------------------------------<br />
<b>E-commerce And Shopping Icons</b><br />
<a href="https://www.iconfinder.com/iconsets/e-commerce-and-shopping-3/">https://www.iconfinder.com/iconsets/e-commerce-and-shopping-3/</a><br />
License: Creative Commons (Attribution-Share Alike 3.0 Unported)<br />
<br />
------------------------------------------------------------------<br />
<b>THtmlPort </b><br />
<a href="http://wiki.lazarus.freepascal.org/THtmlPort/">http://wiki.lazarus.freepascal.org/THtmlPort/</a><br />
<a href="http://www.pbear.com/">http://www.pbear.com/</a><br />
License: Released by Dave Baldwin into the public domain.<br />
<br />

