I like to make programs. If you like my programs, and you are in a position to do so, please consider making a small donation, 
to buy me a coffee or so. Or not. I still hope you will enjoy this software. Thank you.<br />
<br />
Hans Dorrestijn (Hansie211)<br />
hansie211@dev.jcgames.nl<br />
<a href="http://www.jcgames.nl">http://www.jcgames.nl</a>